body
{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Sans-serif;
	overflow-x:hidden;
}
h1, h2, h3, h4, h5, h6
{

}

/*header*/

.info_block{
	position: absolute;
    width: 1920px;
    height: 36px;
    right: -352px;
    top: 0px;
    background: #F8F8F8;
}
.mark{
	margin-bottom: 12px;
	margin-right: 12.8px;
}
.info_position{
	display: flex;
	font-size: 12px;
	font-weight:200;
	width: 65px;
	margin-right: 66px;
	margin-top: -4px;
}
.shop{
	display: flex;
	margin-left: 456px;
	margin-top:  11px;
	font-size: 12px;
	list-style-type: none;
}
.shop_link{
	padding-right: 24px;
    margin-left: 39px;
	text-decoration:none;
	color: #1D1D1B;
	transition: all 0.3s ease;
}
.shop_link:hover{
	color:#E0001B;
	font-size: 16px;
}

.buy_form{
margin-top: -9px;
padding-right: 27px;
}

.buy_list{
border:none;
background-color:#f8f8f8;
width: 104px;
font-size: 12px;
color: #1D1D1B;
}

.jur_form{
margin-top: -9px;
}

.juridical_list{
border:none;
background-color:#f8f8f8;
width: 150px;
font-size: 12px;
color: #1D1D1B;
}

.tel_link{
	margin-left: 333px;
	text-decoration:none;
	color: #696969;
	transition: all 0.3s ease;
}
.tel_link:hover{
	color:#E0001B;
	font-size: 16px;
}

/*section*/

.logo{
	position: absolute;
	margin-top: 85px;
	margin-left: 87px;
	z-index: 2;
}

.search_field{
	position: absolute;
	margin-top: -40px;
	z-index: 1;
}

.search{
	width: 321px;
	height: 48px;
	margin-left: 195px;
	margin-top: -6px;
}

* {box-sizing: border-box;}
input, button {
  outline: none;
  border-radius: 3px;
}

input {
  background: #fff;
  padding-left: 15px;
  border: 1px solid #D5D5D5
}

button {
	border: none;
    height: 50px;
    width: 54px;
    position: absolute;
    top: -5px;
    right: 0px;
    background: #E0001B;
    cursor: pointer;
}

.Favorite_button{
	width: 182px;
    border: 0px solid silver;
    background-color: #fff;
    margin-right: -634px;
    margin-top: -12px;
    transition: all 0.3s ease;
}

.Favorite_button:hover{
	height: 70px;
	background-color:#F8F8F8;
}

.Favorite{
    margin-top: -20px;
    margin-right: -18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.Heart{
	margin-right: 103px;
	margin-top: 14px;
}

.Compare_button{
	width: 182px;
    border: 0px solid silver;
    background-color: #fff;
    margin-right: -816px;
    margin-top: -12px;
    transition: all 0.3s ease;
}

.Compare_button:hover{
	height: 70px;
	background-color:#F8F8F8;
}

.Compare{
    margin-top: -20px;
    margin-right: -18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.libra{
	margin-right: 103px;
	margin-top: 8px;
}

.Basket_button{
	width: 182px;
    border: 0px solid silver;
    background-color: #fff;
    margin-right: -998px;
    margin-top: -12px;
    transition: all 0.3s ease;
}

.Basket_button:hover{
	height: 70px;
	background-color:#F8F8F8;
}

.Basket{
    margin-top: -20px;
    margin-right: -18px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.truck{
	margin-right: 103px;
	margin-top: 8px;
}

.Catalog_button{
	width: 136px;
    border: 0px solid silver;
    background: #E0001B;
    margin-top: 59px;
    transition: all 0.3s ease;
    margin-right: 0px;
    margin-top: 77px;
}

.Catalog_button:hover{
    border:1px solid silver;
}

.catalog{
	color: #Fff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
}

.line{
	margin-right: 93px;
	margin-top: 18px;
}

.Paper_button{
    width: 186px;
    border: 0px solid black;
    background: #f8f8f8;
    margin-right: -185px;
    margin-top: 77px;
}

.Paper_button:hover{
    border:1px solid silver;
}

.paper{
	color: #1D1D1B;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
    font-size: 14px;
}

.book{
	margin-right: 149px;
    margin-top: 15px;
}

.Product_button{
	width: 183px;
    border: 0px solid black;
    background: #f8f8f8;
    margin-right: -368px;
    margin-top: 77px;
}

.Product_button:hover{
    border:1px solid silver;
}

.product{
	color: #1D1D1B;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
    font-size: 14px;
}

.back{
	margin-right: 128px;
    margin-top: 15px;
}

.Creation_button{
    width: 209px;
    border: 0px solid black;
    background: #f8f8f8;
    margin-right: -577px;
    margin-top: 77px;
}

.Creation_button:hover{
    border:1px solid silver;
}

.Creation{
    color: #1D1D1B;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
    font-size: 14px;
}

.pencel{
    margin-right: 156px;
    margin-top: 15px;
}

.Trade_button{
    width: 238px;
    background: #f8f8f8;
    margin-right: -815px;
    margin-top: 77px;
}

.Trade_button:hover{
    border:1px solid silver;
}

.Trade{
    color: #1D1D1B;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
    font-size: 14px;
}

.calculator{
    margin-right: 156px;
    margin-top: 15px;
}

.Stock_button{
    width: 184px;
    background: #f8f8f8;
    margin-right: -999px;
    margin-top: 77px;
}

.Stock_button:hover{
    border:1px solid silver;
}

.Stock{
    color: #E0001B;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    margin-top: -22px;
    margin-left: 22px;
    font-size: 14px;
}

.tag{
    margin-right: 117px;
    margin-top: 15px;
}

/*page*/

.Home_page{
    background-color: #fff;
    font-size: 14px;
    margin-right: 81px;
    margin-top: 126px;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    color: #1D1D1B;
    word-spacing: 7px;

}

.arrow_home{
    margin-top: 111px;
    margin-left: 73px;
    color: #1D1D1B;
    opacity: 0.5;
}

.Paper_page{
    width: 178px;
    background-color: #fff;
    font-size: 14px;
    margin-right: -118px;
    margin-top: 126px;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    color: #1D1D1B;
}

.Diaries_page{
    width: 240px;
    background-color: #fff;
    font-size: 14px;
    margin-right: -342px;
    margin-top: 126px;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    color: #1D1D1B;
}

.arrow_diaries{
    display: flex;
    justify-content: center;
    margin-top: 111px;
    margin-left: 73px;
    color: #1D1D1B;
    opacity: 0.5;
}

.Diaries{
    font-size: 36px;
    padding-top: 270px;
    margin-left: 455px;
}

/*Товары*/
* {box-sizing: border-box;}
.product-item {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-bottom: 2px solid #000;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
  border: 1px solid black;
}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  background: #fff;
  padding: 15px 0;
}
.product-list h3 {
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1D1D1B;
    text-align: left;
    margin-left: 18px;
    margin-top: 9px;
}

.pech{
    height: 212px;
    margin-left: 8px;
    margin-top: -39px;
}

.testo_link{
    display: block;
    width: 182px;
    height: 182px;
    margin: 0 auto;
}
.testo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 27px;
}

.stand{
    height: 163px;
    margin-top: 47px;
}

.product_price {
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1D1D1B;
    margin-bottom: 12px;
    margin-right: 153px;
}

.product_price_s {
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1D1D1B;
    margin-bottom: 12px;
    margin-right: 144px;
}

.standart_price{
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #1D1D1B;
    margin-bottom: 12px;
    margin-right: 153px;
}

.old_price{
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #1D1D1B;
    opacity: 0.2;
    margin-top: -39px;
    padding-top: 20px;
    margin-right: 10px;
}

.old_price_s{
    font-family: 'Open Sans', Sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #1D1D1B;
    opacity: 0.2;
    margin-top: -39px;
    padding-top: 20px;
    margin-right: -10px;
}

.C_button{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-right: 108px;
    margin-top: -36px;
    background: #f8f8f8;
    color: #1D1D1B;
    font-size: 12px;
    line-height: 39px;
    transition: .3s ease-in;
}

.C_button_S{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -215px;
    margin-top: 50px;
    background: #f8f8f8;
    color: #1D1D1B;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}

.C_button_B{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-right: 108px;
    margin-top: 24px;
    background: #f8f8f8;
    color: #1D1D1B;
    font-size: 12px;
    line-height: 39px;
    transition: .3s ease-in;
}

.C_button_N
{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -215px;
    margin-top: 30px;
    background: #f8f8f8;
    color: #1D1D1B;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}


.kolv_butt{
    margin-top: 709px;
    margin-right: 974px;
    width: 36px;
    height: 36px;
}

.kolv_img{
    width: 12px;
    margin-left: 11px;
}

.kolv_butt_b{
    margin-top: 709px;
    margin-right: 905px;
    width: 36px;
    height: 36px;
}

.kolv_img_b{
    width: 12px;
    margin-left: 11px;
}

.kolv_butt_n{
    margin-top: 1650px;
    margin-right: 974px;
    width: 36px;
    height: 36px;
}

.kolv_img_n{
    width: 12px;
    margin-left: 11px;
}

.kolv_butt_s{
    margin-top: 1650px;
    margin-right: 905px;
    width: 36px;
    height: 36px;
}

.kolv_img_s{
    width: 12px;
    margin-left: 11px;
}

.kolv_butt_a{
    margin-top: 2586px;
    margin-right: 974px;
    width: 36px;
    height: 36px;
}

.kolv_img_a{
    width: 12px;
    margin-left: 11px;
}

.kolv_butt_c{
    margin-top: 2586px;
    margin-right: 905px;
    width: 36px;
    height: 36px;
}

.kolv_img_c{
    width: 12px;
    margin-left: 11px;
}

.kolv_numb{
    font-family: 'Open Sans', Sans-serif;
    margin-bottom: -25px;
    font-size: 14px;
    margin-left: 137px;
    padding-top: 5px;
}

.kolv_numb_n{
    font-family: 'Open Sans', Sans-serif;
    margin-bottom: -24px;
    font-size: 14px;
    margin-left: 137px;
    padding-top: 3px;
}

.kolv_numb_c{
    font-family: 'Open Sans', Sans-serif;
    margin-bottom: -24px;
    font-size: 14px;
    margin-left: 137px;
    padding-top: 3px;
}

.pannier_button{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -97px;
    margin-top: 50px;
    background: #E0001B;
    color: #fff;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}

.pannier_button_b{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -97px;
    margin-top: -6px;
    background: #E0001B;
    color: #fff;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}

.pannier_button_s{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -97px;
    margin-top: 24px;
    background: #E0001B;
    color: #fff;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}

.pannier_button_n
{
    width: 110px;
    height: 36px;
    font-family: 'Open Sans', Sans-serif;
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    margin-left: -97px;
    margin-top: 30px;
    background: #E0001B;
    color: #fff;
    font-size: 12px;
    line-height: 39px;
    position:absolute;
    transition: .3s ease-in;
}

.skidka{
    height: 30px;
    margin-top: 10px;
    margin-left: -90px;
    position:relative;
}

.glstar{
    height: 17px;
    margin-left: -60px;
}

.grstar{
    height: 17px;
    margin-left: -60px;
    margin-top: 24px;
}

.lover{
    height: 16.09px;
    margin-left: 107px;
    margin-top: -15px;;
}


/*slider*/
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
    right: -24px;
    top: -3.5px;
    left: auto;
    background: #E0001B;
    width: 10px;
    height: 10px;
}

.prise{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #1D1D1B;
    margin-left: 463px;
    margin-bottom: -4px;
}

.g-range-slider{
    min-height: 1px;
    max-width: 270px;
    margin-top: 24px;
    margin-left: 467px;
}

.g-range-slider .noUi-horizontal .noUi-connect {
    background-color: #E0001B;;
}

.g-range-slider__labels{
font-size: 0px;
}

.g-input{
    width: 81px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: 9px;
}

.g-input_error{
    width: 81px;
    display: inline-block;
    position: relative;
    margin-left: 9px;
}

.ot{
 font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
color: #8F8989;
margin-left: 465px;
}

.g-input_n{
    width: 81px;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: 9px;
}

.g-input_error_n{
    width: 81px;
    display: inline-block;
    position: relative;
    margin-left: 9px;
}

.do{
 font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 100%;
color: #8F8989;
margin-left: 43px;
}

/*search_brands*/

.brands{
    margin-top: 22px;
    margin-left: 61px;

}

.brands__text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #1D1D1B;
    margin-left: 400px;
    margin-bottom: 23px;
}

.g-input-brands{
    margin-left: 400px;
    margin-top: 200px;
}

.g-input__input__brands{
    width: 276px;
    height: 38px;
}

/*chechbox_A*/

.a_check{
    margin-left: 398px;
    margin-top: 24px;
    line-height: 13px;
}

.g-checkbox__input_A{
    width: 18px;
    height: 18px;
}

.check_act{
    margin-left: 32px;
    margin-top: -18px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #1D1D1B;
}

input:checked + .g-checkbox__input {
  background-color: #E0001B;
}

.g-checkbox__input.g-checkbox__body.g-checkbox__box{
    background-color:#E0001B;
}

.b_check{
    margin-left: 398px;
    margin-top: 24px;
    line-height: 13px;
}

.g-checkbox__input_B{
    width: 18px;
    height: 18px;
}

.B{
    border-bottom:1px solid #F1F1F1;
    width: 256px;
}

.coll_button{
    color: #005BFF;
}

.hit{
    margin-top: 61px;
    margin-bottom: -63px;
    margin-left: 398px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 26.67px;
  height: 16px;
  margin-left: 627px;
  margin-bottom: -46px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fcfcfc;
  border:1px solid silver;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8.89px;
    width: 8.89px;
    left: 0px;
    bottom: 3px;
    background-color: #C4C4C4;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #E0001B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
    border-radius: 11px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.slider.round:before {
  border-radius: 50%;
}

.type{
    margin-left: 399px;
    margin-top: 72px;
    line-height: 13px;
}

.check_all{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    color: #005BFF;

}

.size{
    margin-left: 399px;
    margin-top: 25px;
    line-height: 12px;
}
.cover{
    margin-top: 40px;
    line-height: 12px;
}

.check_all{
    position: relative;
    top: 13px;
    left: -14px;
}

/*papre_slider*/

.paper_col{
    margin-top: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    color: #1D1D1B;
}

.paper_slider{
    margin-left: -460px;
}

.input_paper{
    margin-left: -460px;
}

.markup{
    margin-top: 30px;
}

.Filter_button{
    width: 125px;
    height: 36px;
    background: #fff;
    margin-top: 2091px;
    transition:  all 0.2s ease;
}

.Filter{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1D1D1B;
    margin-top: 11px;
}

.Filter_button:hover{
    background-color:#f4f4f4;
}


/*Pagination*/

.g-pagination__numbers{
    padding-bottom: 80px;
}

.g-pagination
{
    display: flex;
    margin-left: 1339px;
    margin-top: 56px;
}

.g-pagination__number
{
    background:#f8f8f8;
    color: #1D1D1B;
    border-radius: 40px;
    margin-right: 12px;
}

/*BarUp*/

.bar__up
{
    height: 72px;
    right: -352px;
    color: red;
    background: #F8F8f8;
    text-align: center;
}

.bar__up a
{
font-size: 40px;
}

.bar_text
{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #1D1D1B;
    margin-top: 23px;
}

/*Footer*/

.footer_bar
{
    height: 265px;
    background: #F0F0f0;
}

.copy_bar{
    padding-top: 41px;
    display: block;
    padding-left: 70px;
}


.copy{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 3;
    color: #727272;
    margin-left: 1273px;
}

.guard{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #727272;
    margin-left: 1273px;
}

.link_logo{
    margin-left: 1273px;
    margin-top: 23px;
    word-spacing: 9px;
}

.other{
    margin-top: -120px;
    margin-left: 1154px;
}

.other_text{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #1D1D1B;
}

.other_list{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #727272;
margin-top: 10px;
}

.j_face{
    margin-top: -176px;
    margin-left: 861px;
}

.j_text{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #1D1D1B;
}

.j_list{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #727272;
margin-top: 10px;
}

.help{
margin-top: -119px;
margin-left: 655px;
}

.help_text{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #1D1D1B;
}

.help_list{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #727272;
margin-top: 10px;
}

.about{
    margin-top: -146px;
    margin-left: 488px;
}

.about_text{
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
color: #1D1D1B;
}

.about_list{
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #727272;
margin-top: 10px;
}

.footer_info a {
    color:#727272;
}

.footer_info a:hover {
    text-decoration:underline;
}