{# index.twig #}

{% block footer %}
	<footer class="footer_info">
	<div class="footer_bar">
		<div class="container footer__container">
			<div class="about">
				<span class="about_text">О компании</span>
				<ul class="about_list">
					<li><a href="#">Пресс-центр</a></li>
					<li><a href="#">Вакансии</a></li>
					<li><a href="#">Реквизиты</a></li>
					<li><a href="#">О компании</a></li>
				</ul>
			</div>
		<div class="help">
			<span class="help_text">Помощь</span>
			<ul class="help_list">
				<li><a href="#">Как сделать заказ</a></li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Оплата</a></li>
				<li><a href="#">Безопасноть</a></li>
			</ul>
		</div>
		<div class="j_face">
			<span class="j_text">Юридическим лицам</span>
			<ul class="j_list">
				<li><a href="#">Подарочные сертификаты</a></li>
				<li><a href="#">Эксклюзивные предложения</a></li>
				<li><a href="#">Горячая линия</a></li>
			</ul>
		</div>
			<div class="other">
				<span class="other_text">Разное</span>
				<ul class="other_list">
					<li><a href="#">Акции</a></li>
					<li><a href="#">Клуб Канцпарк</a></li>
					<li><a href="#">Гарантия</a></li>
					<li><a href="#">Форум</a></li>
					<li><a href="#">Охрана труда</a></li>
				</ul>
			</div>
			<div class="copy_bar">
				<span class="copy">© 1998 – 2020 OOO «Канцпарк»<br>Все права защищены</span>

			<div class="link_logo">
				<a href="#"><img src="img/inst.png" alt="instagram"></a>
				<a href="#"><img src="img/vk.png" alt="vkontakte"></a>
				<a href="#"><img src="img/fb.png" alt="facebook"></a>
			</div>
		</div>
		</div>
	</div>
</footer>
{% endblock %}